@import "bootstrap";

body {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}
@import "pet/_pet";
